body {
  margin: 0;
  font-family: 'Imbue', serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .font-link {
  font-family: 'Imbue', serif;
} */


.segment {
  height: 100vh;
  width: 100vw;
}

/* HOME COMPONENT */
#name {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  padding: 25vh 25vw;
}

#hannah {
  flex: 3;
  align-self: flex-start;
}

#sommer {
  flex: 3;
  align-self: flex-end;
}

#fse {
  align-self: center;
}

/* NAVBAR COMPONENT */
#navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
