body {
  margin: 0;
  /* font-family: 'Imbue', serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.font-link {
  font-family: 'Imbue', serif;
}
/* TODO: decide if want to keep font-link for imbue and  gill sans as general body font */
/* TODO: After adjusting the home page && if h1 not used, can potentially make all h1 elements 5vh */


.segment {
  min-height: 98vh;
  height: auto;
  width: 100vw;
  padding-top: 2vh;
}

.teal-bg {
  background-color: #56B4AA;
}

.yellow-bg {
  background-color: #F9DD4F;
}

.yellow-bg-lt {
  background-color: #FDF0B0;
}

.white-txt {
  color: white;
}

.pink-txt {
  color: #EC3A7A;
}

.pink-txt-lt {
  color: #EBCBD6;
}

/* HOME COMPONENT */
/* #name {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  padding: 25vh 25vw 25vh 25vw;
} */
#name-body {
  padding: 20vh 0 0 35vw;
}
/* #name-body {
  padding: 20vh 0 0 35vw;
} */

.name {
  display: flex;
  flex-direction: column;
  /* width: 37vw; */
  /* height: 37vh; */
  width: 418px;
  height: 50px;
  position: relative;
  /* margin: 20vh 0 0 37vw; */
}

/* #home {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.hannah {
  /* flex: 3; */
  align-self: flex-start;

}

.sommer {
  /* flex: 3; */
  align-self: flex-end;
}

.full-name {
  /* flex: 3; */
  /* font-size: 98px; */
  font-size: 110px;
  margin: 0;
  padding: 0;
}

#fse {
  align-self: center;
  font-size: 30px;
  letter-spacing: 13px;
}

.name button {
  border: 2px solid black;
  width: 270px;
  /* padding: 0 24px; */
  background-color: #EC3A7A;
  align-self: center;
  box-shadow: 1px 2px 4px rgb(57, 57, 57);
}

.name button a {
  text-decoration: none;
  font-size: 25px;
  /* padding: 0 24px; */
}

/* NAVBAR COMPONENT */
nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  /* background-color: #56B4AA; */
  border-radius: 5vw;
  align-items: center;
  /* justify-content: space-between; */
  position: sticky;
  top: 1vh;
}

/* TODO: FIND BETTER WAY TO KEEP NAME TO RIGHTHAND SIDE */
nav a:first-child {
  /* flex: 4; */
  /* justify-self: flex-start; */
  margin-right: 17vw;
  /* padding-left: 4vw; */
}

nav a {
  /* flex: 1; */
  margin: 0 4vw 0 4vw;
  text-decoration: none;
  /* color: #FFFFFF; */
  font-size: 5vh;
}

/* ABOUT ME COMPONENT */
#about-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20vh 6vw 0 6vw;
}

#headshot {
  height: 50vh;
  width: auto;
}

#about-text {
  margin: 0 5vw 0 5vw;
  display: flex;
  flex-direction: column;
}

#about-text h1 {
  /* align-self: center; */
  font-size: 5vh;
  margin: 0
}

#about-text p {
  font-size: 1em;
}

/* PROJECTS COMPONENT */
#projects-body {
  display: flex;
  flex-direction: column;
  margin: 10vh 6vw 0 6vw;
}

#projects-body h1 {
  /* align-self: center; */
  font-size: 5vh;
}

#project-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.project {
  width: 20rem;
  margin-bottom: 4rem;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 10px #EBCBD6;
  /* box-shadow: 1px 1px 6px #EC3A7A; */
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 204.54px;
  background-color: rgb(30, 32, 34);
}

.project-img {
    width: 20rem;
    height: auto;
  }

 .project-bottom {
  background-color: #ffffff;
  /* background-color: #EBCBD6; */
  border-top: 3px solid #56B4AA;
  height: 100px;
  padding: 0 12px;
}

.project-name {
  font-size: 26px;
  margin: 5px 0 5px 0;
  letter-spacing: 4px;
  border: 0;
  color: rgb(0, 0, 0);
}

.project-details {
  font-size: 18px;
  margin: 0;
  overflow: break-word;
  color:rgb(48, 48, 48)
}

#project-back {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-left: 12px;
}

.project-icon-container {
  display: flex;
  flex-direction: row;
}

.project-icons {
  color: black;
  padding: 15px;
  margin: 5px;
}

.show-more {
  width: 127px;
  height: 32px;
  margin: 0 0 15px 12px;
  background-color: #EBCBD6;
  border: 1px solid #EBCBD6;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 3px;
  bottom: 5px;
}

/* .project-bottom p:first-child {
  font-size: 26px;
  margin: 5px 0 5px 0;
  letter-spacing: 4px;
  border: 0;
  color: rgb(0, 0, 0);
} */

/* .project-bottom p {
  font-size: 18px;
  margin: 0;
  overflow: break-word;
  color:rgb(48, 48, 48)
} */

/* SKILLS COMPONENT */
#skills-body {
  display: flex;
  flex-direction: column;
  margin: 15vh 6vw 0 6vw;
}

#skills-body h1 {
  font-size: 5vh;
}

#skills-icons {
  display: flex;
  flex-flow: row wrap;
  /* justify content either center, space around, or between for resp. */
  padding: 2vh 3vw;
  background-color: #FFFFFF;
  border-radius: 2vh;
  box-shadow: 2px 2px 12px darkgray;
  margin-bottom: 5vh;
}

.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 4vw 2vh 0;
  padding: 10px;
  border: rgb(237, 233, 233) solid 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(222, 220, 220);
}

.icons {
  height: 6vh;
  width: auto;
  padding: 5px;
}

.icon-group p {
  margin: 3px;
}


/* CONTACT COMPONENT */
#contact-body {
  display: flex;
  flex-direction: row;
  margin: 20vh 6vw 0 6vw;
  justify-content: space-between;
}

#contact-body h1 {
  font-size: 5vh;
}

#contact-form, #contact-text {
  height: 65vh;
  width: 40vw;
}

#contact-form {
  border: 2px solid black;
}

#alt-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7vh;
}

.contact-icon a svg path {
    color: rgb(48, 48, 48)
}
